<!DOCTYPE html>
<html>

<head>
    <title>Wind Info Visualized</title>
    <!-- Import Bootstrap, D3, Plotly-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cosmo/bootstrap.min.css"
        integrity="sha256-iMtue7kH6spfqTbfU9XGcwtBF8bgiOnVTErTuh7LJr8=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/Images/Weather.png">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Header & Navbar -->
    <nav class="navbar-right navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="container-fluid pb-2">
                <a class="navbar-brand d-flex justify-content-center p-2" href="/">
                    <i class="bi bi-film" style="font-size: 2.8rem;"></i>
                    <h2 class="mt-3">&ensp;Wind Depiction! </h2>
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mx-auto">
                        <a class="nav-link" href="/"><i class="bi bi-house-door-fill"></i></a>
                        <a class="nav-link active" href="/wind">Wind</a>
                        <a class="nav-link" href="/temperature">Temperature</a>
                        <!-- <a class="nav-link" href="/line">Line Plot</a>
                        <a class="nav-link" href="/bar">Bar Plot</a> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    ​
    ​
    <!-- Main Container section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>City's Temperature Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h5>City:</h5>
                    <select id="selCity" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id='myDiv'></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Timestamp</th>
                            <th>Temperature </th>
                            <th>Celsius</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <section>
            
            <script src="leaflet-heatmap.js"></script>

            <script>
                // don't forget to include leaflet-heatmap.js
var testData = {
  max: 8,
  data: [{lat: 24.6408, lng:46.7728, count: 3},{lat: 50.75, lng:-1.55, count: 1}]
};

var baseLayer = L.tileLayer(
  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
    attribution: '...',
    maxZoom: 18
  }
);

var cfg = {
  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
  // if scaleRadius is false it will be the constant radius used in pixels
  "radius": 2,
  "maxOpacity": .8,
  // scales the radius based on map zoom
  "scaleRadius": true,
  // if set to false the heatmap uses the global maximum for colorization
  // if activated: uses the data maximum within the current map boundaries
  //   (there will always be a red spot with useLocalExtremas true)
  "useLocalExtrema": true,
  // which field name in your data represents the latitude - default "lat"
  latField: 'lat',
  // which field name in your data represents the longitude - default "lng"
  lngField: 'lng',
  // which field name in your data represents the data value - default "value"
  valueField: 'count'
};


var heatmapLayer = new HeatmapOverlay(cfg);

var map = new L.Map('map-canvas', {
  center: new L.LatLng(25.6586, -80.3568),
  zoom: 4,
  layers: [baseLayer, heatmapLayer]
});

heatmapLayer.setData(testData);
            </script>
        </section>
    </div>

    <script src="../static/js/temp-table.js"></script>
</body>

</html>